{% extends 'base.html' %}
{% block content %}


<h3>Main page</h3>
<p>This is the user part.<p>

<p>In Downloads you can download audio file from freesound.org. Registration is needed.<p>

<p>In Rating you can see the most added in favorites songs from the users. They can be downloaded or completely different. Registration is not needed.</p>

<p>In Listen you can listen to the audio files downloaded. Registration is not needed.</p>

<p>Favourites is for adding or removing favourite songs. Song and author is added. Registration is needed.</p>

<p>Users is a list with all the users. It shows the list with all the users and whether or not they share their favourites. No registration needed.</p>

<p>In Chat you can send messages to all the users online or just in a particular room. Registration is needed.</p>

<p>In the Logon/Admin users can register or login in the system. Also if you have the needed permissions you can log on as an administrator.</p>

<p>In the user part, if user is registered and clicks on his email(next to logout link) it redirects to the profile page for edit. </p>

{% endblock %}
