{% extends 'base.html' %}
{% block content %}
    <h3>Music</h3>
    <audio controls="controls" autoplay="autoplay"></audio>
    <ul>
    {% for song in songs %}
        <li><a href="javascript:void(0);">{{song}}</a></li>
    {% endfor %}
    </ul>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            Results:
            <pre>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </pre>
        {% endif %}
    {% endwith %}
         
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type='text/javascript'> 
        {% for song in songs %} 
            $('li').click(function(){
                var str = $(this).text()
               $('audio').attr('src', '/static/music/'+str); 
            });
        {% endfor %}
    </script>


   




{% endblock %}
